.sidebar-menu {
  height: 100%;

  .menu {
    padding: 24px 0;
    height: 100%;
    overflow: hidden;

    .header-menu {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }
  }

  .sidenav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidenav-left-content {
      display: flex;
      align-items: center;
    }
  }
}

::ng-deep {
  .sidebar-menu {
    .mat-drawer {
      min-width: 220px;
    }

    .menu {
      .mat-list-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mat-list-item-content {
          display: flex;
          align-items: center;
          padding: 12px 24px;

          p {
            margin: 0 0 0 16px;
          }
        }
      }
    }
  }
}
